.warning {
  width: 16%;
  max-width: 400px;
  min-width: 150px;
}

.container-import {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
}

.container-import h1 {
  margin-bottom: 50px;
  width: 101%;
  text-align: center;
}

.container-btn-import {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.container-how-many {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.container-input-how-many {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-how-many {
  width: 50px;
  background: none;
  text-align: center;
  border: none;
  border-bottom: solid 2px;
  font-size: xx-large;
}

.input-how-many:focus-visible {
  outline: none;
}

.container-how-many button {
  margin-top: 50px;
  font-size: x-large;
}

@media (max-width: 1300px) {
  .container-two-forms {
    display: initial;
  }

  .operation-form {
    margin-bottom: 35px;
  }

  .vertical-separator {
    margin: 0;
  }
}