header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 45px 0px;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20%;
  max-width: 200px;
}

.container-nav {
  display: flex;
  align-items: center;
  z-index: 99;
}

.container-main-links {
  padding: 0;
  display: flex;
}

.container-main-links li {
  list-style: none;
  width: 135px;
  text-align: center;
}

.container-main-links a.active {
  text-decoration: underline;
  color: var(--color-text-link);
  text-decoration-color: var(--color-underline-link);
}

.main-links {
  text-underline-position: under;
  font-size: large;
  text-decoration: none;
}

.sub-header-bis {
  display: flex;
  position: absolute;
  right: 45px;
}

.sub-header-bis div {
  margin-right: 10px;
}

@media (max-width: 1180px) {
  .sub-header-bis {
    justify-content: space-between;
    width: 92%;
  }
}


/* Tablet view  */

@media (max-width: 950px) {
  .container-main-links {
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
  } 
  
  .sub-header-bis {
    top: 140px;
    justify-content: initial;
    right: initial;
    width: initial;
  }
}