:root {
  --main-bg-color: #B4C0EB;
  --bg-button: #7189d9;
  --size-icon: 20px;
  --border-radius-button: 10px;
  --color-text: #0c0b0b;
  --color-text-link: #fffefe;
  --color-underline-link: #fffefe;
}
