@import "normalize.css";
@import url('/CssVariables.css');

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  margin: 0;
}

p, a {
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
  color: var(--color-text-link);
  text-decoration-color: var(--color-underline-link);
}

.icon {
  width: var(--size-icon);
}