@import "normalize.css";
@import url('/CssVariables.css');

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 45px;
}

p, a {
  color: var(--color-text);
}

.icon {
  width: var(--size-icon);
}

.btn {
  background: var(--bg-button);
  border: none;
  padding: 7px 10px;
  width: 85px;
  border-radius: var(--border-radius-button);
  cursor: pointer;
}

/* Tablet view  */

@media (max-width: 950px) {
  main {
    margin-top: 100px;
  }
}